body{
    background-color: #36f1cc;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    width: 80%;
    background-color: #ffffff;
    margin: 0 auto;
}

.title{
    text-transform: uppercase;
    color: #F1365B;
    text-align: left;
    padding: 20px;
    font-weight: 600;
    font-size: 40px;
}

.title:hover{
    text-decoration: overline;
    color: #36f1cc;
    font-weight: 900;
    transition: 5s ease-in-out;
}
.top-menu{
    background-color: #F1365B;
    overflow: hidden;
}

/* Nesting in CSS  */
/* ctrl + /  to generate a comment in css */
.top-menu ul li{
    list-style-type: none;
    float: left; /* Aligns the li in a horizontal way */
    border-right: 2px solid #36f1cc; /* creates the line on the right of a tag */ 
    padding: 15px 20px; /* padding top/bottom and padding right/left */
}

.top-menu ul li a{
    text-decoration: none;
    color: #36f1cc;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}

/* Hover effect */
.top-menu ul li:hover{
    background-color: #36f1cc;
}
/* Hover effects on a child */
.top-menu ul li:hover a{
    text-decoration: underline;
    color: #F1365B;
}

/* Image part */
/* .bg-image img{
    width: 100%;
    height: 60vh;
} */

.bg-image{
    background-image: url('./images/1.jpg');
    background-size: cover;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.bg-image h2{
    color: #36f1cc;
    background-color: #F1365B;
    padding: 32px;
    opacity: .6;
    border: 2px solid #F1365B;
}

.btn{
    background-color: #ffffff;
    color: #F1365B;
    border: 1px solid #F1365B;
    padding: 12px 42px;
    border-radius: 10px;
    cursor: grabbing;
}
.btn:hover{
    background-color: #F1365B;
    color: #ffffff;
    transition-duration: .6s;
}

.welcome p{
    width: 60%;
    text-align: center;
    font-weight: 500;
    line-height: 32px;
}
.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.row{
    display: flex;
    flex-direction: row;
}
.row-2{
    display: flex;
    flex-direction: row-reverse;
}

.col{
    max-width: 50%;
}
.img-fluid{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.px-3{
    padding-left: 32px;
    padding-right: 32px;
}
.py-4{
    padding-top: 32px;
    padding-bottom: 40px;
}
.text-start{
    text-align: left !important; 
}
.text-center{
    text-align: center!important;
}
.text-end{
    text-align: right!important;
}
.credit{
    background: linear-gradient(45deg, #f1365bd8, #F1365B, #f1365bd8);
}
.credit p{
    color: #ffffff;
    font-size: 24px;
}

.credit:hover{
    transform: rotate(1deg);
    transition-duration: .3s;
}